<div class="row">
  <div class="col-md-10">
    <h3>Warenkorb</h3>
    <table class="table table-condensed table-striped table-responsive">
      <thead>
        <tr>
          <th>Pos.</th>
          <th>
            Typ
          </th>
          <th>
            Anzahl
          </th>
          <th class="text-right">
            Preis
          </th>
        </tr>
      </thead>
      <tfoot>
        <tr>
          <td colspan="2" class="text-right"></td>
          <th>Summe:</th>
          <td class="text-right">35,40&euro;</td>
        </tr>            
      </tfoot>            
      <tbody>
        <tr>
          <th>1</th>
          <td>Scheibe, H=3, D=4, Diametral, 1.02T &lt;200&deg;C, Silber</td>
          <td>60 Stck</td>
          <td class="text-right">35,90&euro;</td>
        </tr>
        <tr>
          <th>2</th>
          <td>Trapez, A=2, B=10, H=3, T=1, Norden-unten, 1.12T &lt;180&deg;C, ohne B.</td>
          <td>60 Stck</td>
          <td class="text-right">9,50&euro;</td>
        </tr>
        <hr>              
      </tbody>
    </table>
  </div>
  <div class="col-md-2">